* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-family: Maplestory, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
  'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
  'Malgun Gothic', sans-serif;
}

a:link,
a:visited,
a:active,
a:hover {
  color: #000;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
